#General
*.zip
*.rar
Original\ Source\ Codes

#Clan Mod with JDFIX
Clan\ Mod/cm_v2.04/bin
Clan\ Mod/cm_v2.04/Code/base
Clan\ Mod/cm_v2.04/Code/cgame
Clan\ Mod/cm_v2.04/Code/Final
Clan\ Mod/cm_v2.04/Code/ghoul2
Clan\ Mod/cm_v2.04/Code/qcommon
Clan\ Mod/cm_v2.04/Code/renderer
Clan\ Mod/cm_v2.04/Code/ui
Clan\ Mod/cm_v2.04/Code/buildvms.bat
Clan\ Mod/cm_v2.04/Code/JK2\ Game\ Source\ License.doc
Clan\ Mod/cm_v2.04/Code/jk2mp-SDK.dsw
Clan\ Mod/cm_v2.04/Code/jk2mp-SDK.ncb
Clan\ Mod/cm_v2.04/Code/jk2mp-SDK.sln
Clan\ Mod/cm_v2.04/Code/jk2mp-SDK.suo
Clan\ Mod/cm_v2.04/Code/MakeAMod_readme.txt
Clan\ Mod/cm_v2.04/ui/menudef.h
Clan\ Mod/cm_v2.04/ui/menudef.h

#Clan Mod with JDFix for JK2 v1.03
Clan\ Mod/JDClanMod/bin
Clan\ Mod/JDClanMod/Calculators
Clan\ Mod/JDClanMod/clanmod
Clan\ Mod/JDClanMod/Code/base
Clan\ Mod/JDClanMod/Code/cgame
Clan\ Mod/JDClanMod/Code/Final
Clan\ Mod/JDClanMod/Code/ghoul2
Clan\ Mod/JDClanMod/Code/qcommon
Clan\ Mod/JDClanMod/Code/renderer
Clan\ Mod/JDClanMod/Code/ui
Clan\ Mod/JDClanMod/Code/buildvms.bat
Clan\ Mod/JDClanMod/Code/JK2\ Game\ Source\ License.doc
Clan\ Mod/JDClanMod/Code/jk2mp-SDK.dsw
Clan\ Mod/JDClanMod/Code/jk2mp-SDK.ncb
Clan\ Mod/JDClanMod/Code/jk2mp-SDK.sln
Clan\ Mod/JDClanMod/Code/jk2mp-SDK.suo
Clan\ Mod/JDClanMod/Code/MakeAMod_readme.txt
Clan\ Mod/JDClanMod/ui/menudef.h

#JDFix Mod standalone
JDFix\ Mod/JDFix\ 1.03\ Mod/base
JDFix\ Mod/JDFix\ 1.03\ Mod/bin
JDFix\ Mod/JDFix\ 1.03\ Mod/Tools
JDFix\ Mod/JDFix\ 1.03\ Mod/ui/menudef.h

JDFix\ Mod/JDFix\ 1.04\ Mod/1.04\ fix/base
JDFix\ Mod/JDFix\ 1.04\ Mod/1.04\ fix/bin
JDFix\ Mod/JDFix\ 1.04\ Mod/1.04\ fix/Tools
JDFix\ Mod/JDFix\ 1.04\ Mod/1.04\ fix/ui/menudef.h