#include <windows.h>
#include "q3dirtrav_res.h"

10 ICON q3dirtrav.ico
IDD_MAIN DIALOGEX 200, 200, 276, 148
STYLE DS_NOFAILCREATE | DS_MODALFRAME | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION VER
FONT 8, "MS Sans Serif"
{
   CONTROL "", IDC_PROCLIST, "LISTBOX", LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 3, 200, 62 
   CONTROL "output filename", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 201, 0, 75, 22 
   CONTROL "", IDC_FILENAME, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 203, 8, 71, 12 
   CONTROL "informations", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 61, 276, 88 
   CONTROL "", IDC_INFO, "EDIT", ES_LEFT | ES_MULTILINE | WS_VSCROLL | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 69, 272, 78 
   CONTROL "refresh\nprocesses", IDC_REFRESH, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 201, 23, 39, 18 
   CONTROL "about", IDC_ABOUT, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 241, 23, 34, 18 
   CONTROL "activate\nexploit", IDC_EXPLOIT, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 201, 43, 74, 18 
}
